.table-cross {
  overflow: hidden;
  table-layout: fixed;
  width: 100%;

  th {
    text-align: left;
    padding: 8px 16px;
    user-select: all;
    font-weight: 500;
    color: #485264;
    line-height: 16px;
    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }

  thead tr {
    background: #f7f8fa;
  }

  tbody tr:nth-child(even) {
    background: #fbfbfc;
  }

  tbody tr {
    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
}

.textEllipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#driver-popover-content {
  padding: 14px;
  max-width: 600px;
  border: 1px solid #94b5ff;
}
